:root {
    --card_height: 150px;
    --card_width: 150px;
    --card_bg-default: #f8f9fa;
    --card_error-icon-color: #dc3545;
    --button_bg-color: #007bff;
    --button_border-color: #007bff;
    --button_text-color: #fff;
}

#ChooseAndUpload {
    margin: 20px
}

.choose-and-upload-alerts__group {
    margin: 20px 0;
}

.choose-and-upload-alerts__alert {}

.choose-and-upload-button__group {
    margin: 20px 0;
}

.choose-and-upload-button__button {
    color: var(--button_text-color);
    background-color: var(--button_bg-color);
    border-color: var(--button_border-color);
}

.choose-and-upload-card__deck {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.choose-and-upload-card__card {
    height: var(--card_height);
    width: var(--card_width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--card_bg-default);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.choose-and-upload-card__card span {
    font-size: 48px;
    color: var(--card_error-icon-color)
}

.choose-and-upload-card__card-img {
    overflow: hidden;
    max-height: var(--card_height);
    max-width: var(--card_width);
}